.container {
    height: 50px;

    background-color: var(--color-background);

    padding: 0 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    user-select: none; // 드래그 방지
}

// Box

.box {
    display: flex;
    align-content: center;

    gap: 8px;
}

// DatePicker

.dateContainer {
    display: flex;
    align-items: center;

    gap: 15px;

    .dateTitle {
        font-weight: 500;

        color: var(--color-white);
    }

    .dateSelector {
        width: 35px;
        height: 35px;

        display: flex;
        justify-content: center;
        align-items: center;

        background-color: var(--color-background-light);

        border: 0;
        border-radius: 5px;

        cursor: pointer;

        &:active {
            background-color: var(--color-background-lighter);
        }

        svg {
            width: 17px;
            height: 17px;

            color: var(--color-white);
        }
    }
}

// Create Meal Button

.createMealButton {
    height: 35px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--color-white);

    border: 0;
    border-radius: 5px;

    gap: 8px;

    padding: 0 15px;

    cursor: pointer;

    &:active {
        opacity: 0.8;
    }

    span {
        color: var(--color-background);

        font-weight: 600;
    }

    svg {
        width: 17px;
        height: 17px;
        
        color: var(--color-background);
    }
}

// Manual Upload Button

.manualUploadButton {
    height: 35px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--color-background-light);

    border: 0;
    border-radius: 5px;

    gap: 8px;

    padding: 0 15px;

    cursor: pointer;

    &:active {
        background-color: var(--color-background-lighter);
    }

    span {
        color: var(--color-white);

        font-weight: 500;
        font-size: 13px;
    }

    svg {
        width: 17px;
        height: 17px;
        
        color: var(--color-white);
    }
}

.apiDocsButton {
    height: 35px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--color-background-light);

    border: 0;
    border-radius: 5px;

    gap: 8px;

    padding: 0 15px;

    cursor: alias;

    &:active {
        background-color: var(--color-background-lighter);
    }

    span {
        color: var(--color-white);

        font-weight: 500;

        font-size: 13px;
    }

    svg {
        width: 17px;
        height: 17px;
        
        color: var(--color-white);
    }
}