:root {
    // Colors
    --color-background: #60BE6B;
    --color-background-light: #70CB8B;
    --color-background-lighter: #7ed598;
    --color-background-white: #dff5e2;

    --color-white: #fff;
    --color-black: #26262c;
    --color-charcoal: #333;

    --color-gray: #5C6B82;
    --color-gray-light: #cbcbcb;
    --color-gray-lighter: #dcdcdc;
    --color-gray-lightest: #e9e9e9;

    --color-text: #292e37;

    --color-board-background: #EAEBEF;
    // Border radius
    --border-radius-l: 12px;
    --border-radius: 8px;
    --border-radius-s: 4px;
}

body, html {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

button, input, option {
    font-family: inherit;
}