.container {
    min-height: 100vh;

    background-color: var(--color-background);
}

.boardContainer {
    width: 100vw;
    height: calc(100vh - 50px);

    display: flex;
    flex-wrap: nowrap;

    overflow-x: scroll;

    padding: 10px 0 20px 0;

    &::-webkit-scrollbar {
        height: 10px;
        width: 8px;

        padding: 5px;
    }

    &::-webkit-scrollbar {
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #ffffffb8;

        border-radius: var(--border-radius);
    }
}